# ==========================
# Maven
# ==========================
target/

# ==========================
# Java
# ==========================
*.class

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Frontend
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
